body {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
}

/* By default, have no space */
* {
margin: 0;
padding: 0;
}

/* Background image with opacity */
body::before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background: url('../../images/bg.png') center/cover no-repeat;
opacity: 0.5;
z-index: -2;
}

/* Make background image darker by overlay */
body::after {
content: "";
position: absolute;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.06);
z-index: -1;
}

/* Text and contents styles */
p, h1, li, a{
font-family: Inter;
text-decoration: none;
}

p, li {
font-size: 0.9em;
color: #272727;
}

h1{
margin-bottom: 0.6em;
font-size: 1.1em;
color: #232323;
}

p{
margin-bottom: 1.2em;
}

ul{
margin-bottom: 1.2em;
margin-left: 1.2em;
}

/* Box 1 */
.intro {
width: 67%;
height: 100%;
}

.intro-welcome{
font-size: 0.8em;
font-family: Inter;
margin-bottom: 1.2em;
color: #0d78f3;
}

#manilaWeather {
font-family: Google Sans Code;
font-size: 1.6em;
font-weight: 400;
}

.message{
  height: 70%;
}

.links{
  display: flex;
  align-items: end;
  height: 30%;
  gap: 1.2em;
}

.links i, .links a{
  color: #f4f4f4;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.links-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 1.2em;
}

.links-icons a{
  width: 100%;
  justify-content: center;
  background-color: #2790cc;
  height: 40px;
}

.resume{
  width: 300px;
}

.resume a {
  height: 40px;
  width: 100%;
  justify-content: center;
}

.links a{
  background-color: #0d78f3;
  /* top  right  bottom left */
  border-width: 2px 5px 5px 2px;
  border-style: solid;
  border-color: black;

  border-radius: 6px;
}


/* icons */
.contact-icon-wrapper{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: calc(100% - 2.4em);
}

.fas, .fab{
  font-size: 1.5em;
}

/* stack: learning focus */
.box-internal-heading {
    font-size: 0.9em;
    font-weight: 600;
    font-family: Inter;
    color: #0d78f3;
    margin-bottom: 0.6em;
}